/* ===================== Reset =========================== */

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header{
    color: #286f62;
    font-size: 50px;
    font-weight:bold;
}

.block{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

/* ===================== Navegación =========================== */

.menu li {
    display: inline-block;
    padding: 15px 20px;
}

.menu a {
    color: #717171;
    text-align: right;
}

/* ===================== Intro =========================== */

.intro {
    background-color: #fef2f2;
    /* min-height: 100vh; */
}
h1 {
    font-size: 3rem;
    font-weight: 600;
}

.icon-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f26440;
    border-radius: 50%;
    line-height: 3.2;
    text-align: center;
    margin: 5px;
}

.hide {
    display: none;
}

@media(min-width: 992px) {
    .lg-hide {
        display: none;
    }
    .lg-show {
        display: block;
    }
}

.circle{
    position:absolute;
    width: 40vh;
    height: 40vh;
    background-color: #286f62;;
    border-radius: 50%;
}

.img-bottom{
    padding-bottom: 100px;
}

/* =================== Acerca de mi ========================== */

.paragraph{
    margin-top: 20px;
    color: #717171;
    text-align: justify;
    font-size: 16px;
}

/* ================= Mis habilidades ======================== */

.boxes-habilities{
    background-color: #fef2f2;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.habilities{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #717171;
    font-size: 13px;
}
/* =================== Experiencia ========================== */

.text-orange{
    color: #f26440;
}

.logos{
    max-width: 60px;
}

.experience{
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* =================== Portafolio ========================== */

.bg-portafolio{
    background-color: #286f62;
}

.header-portafolio{
    color: white;
    font-size: 50px;
    font-weight:bold;
    text-align:center;
}

.img-portafolio{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.border{
    height: max-content;
    width: max-content;
    background-color: white;
    border-radius: 2%;
}

.img-1{
    padding-top: 40px;
    padding-left: 50px;
}

.img-2{
    padding-left: 1250px;
    padding-bottom: 40px;
}
/* ==================== Contacto =========================== */

.img-contact {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #f26440;
    border-radius: 50%;
    text-align: center;
}
